.list {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    border: solid black 2px;
    background-color: gainsboro;
}



.row-label {
    margin-bottom: 20px;
}
.col-label {
    background-color: cornflowerblue;
}
.label {
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
}



.row-input {
    margin: 10px;
}
.col-input {
    padding: 0px;
}
.input {
    border: 1px dashed cornflowerblue;
}



.row-button {
    margin-left: 10px;
}
.col-button {
    padding: 0px;
}
.button {
    font-weight: bold;
}