
<ion-header>
  <ion-toolbar>

    <ion-title>New Task</ion-title>
    <ion-icon name="home" slot="end"></ion-icon>

  </ion-toolbar>
</ion-header>



<ion-content>
  <form [formGroup]="formGroupTask">
    <ion-list>

      <ion-label>Add a new task:</ion-label>

      <ion-item>
        <ion-input name="inputTypeTask" placeholder="<please type your task here>"            type="text" formControlName="typedTask"     ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="inputTypeTask" placeholder="<please type a due date for the task>"   type="text" formControlName="typedDueDate"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="inputTypeTask" placeholder="<please type a category of your task>"   type="text" formControlName="typedCat"      ></ion-input>
      </ion-item>

      <ion-button (click)="buttonAddOnClick()" [disabled]="!formGroupTask.valid"> ADD &nbsp; <ion-icon name="add"></ion-icon> </ion-button>

      <ion-button (click)="buttonAlertOnClick()">Show Alert</ion-button>

    </ion-list>
  </form>
</ion-content>
