
<ion-header>
  <ion-toolbar>

    <ion-title>Your Tasks</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>

    
    <ion-item>
      <ion-list class="list-headers">
        <ion-row class="row">

          <ion-col class="col-odd-headers">
            <ion-label>name</ion-label>
          </ion-col>

          <ion-col class="col-even-headers">
            <ion-label>dueDate</ion-label>
          </ion-col>

          <ion-col class="col-odd-headers">
            <ion-label>category</ion-label>
          </ion-col>

          <ion-col class="col-even-headers">
            <ion-label>completed/delete</ion-label>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-item>


    <ion-item *ngFor="let item of allTasks"> 
      <ion-list class="list">
        <ion-row class="row">

          <ion-col class="col-odd">
            <ion-label>{{item.name}}</ion-label>
          </ion-col>

          <ion-col class="col-even">
            <ion-label>{{item.dueDate}}</ion-label>
          </ion-col>

          <ion-col class="col-odd">
            <ion-label>{{item.category}}</ion-label>
          </ion-col>

          <ion-col class="col-even">
            <ion-row class="row-buttons">
                <ion-button   (click)="buttonDoneOnClick(item.name)">     <ion-icon name="checkmark"></ion-icon>  </ion-button>
                <ion-button   (click)="buttonDeleteOnClick(item.name)">   <ion-icon name="close"></ion-icon>      </ion-button>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-item>


  </ion-list>
</ion-content>
